<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rota Certa</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/DZKNiJ7.png">
</head>
<body>
   <div class="container">
       <header>
           <h1><i class="fas fa-truck"></i> Rota Certa - Sistema de Entregas</h1>
       </header>
       <nav>
           <a href="/"><i class="fas fa-home"></i> Início</a>
           <a href="/listarEntregas"><i class="fas fa-list"></i> Listar Entregas</a>
       </nav>
       <main>
           {{{body}}}
       </main>
   </div>
</body>
</html>
